.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    min-height: 100vh; 
    border: 2px solid ;
    background-image: linear-gradient(hsl(189, 90%, 16%), hsla(0, 0%, 0%, 0.993));
    box-sizing: border-box;
}

.time{
    font-size:0.8rem;
    color: hsl(0, 1%, 43%);
    opacity: 75%;
}

.card{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 55%;
    text-align: center; 
    background-color: black;
    color: white;
    margin: 10px;
}

.text{
    font-family:cursive;
    padding: 5px;
    font-size: 1rem;
    color: #ffffff;
    
}

.cardImgTop {
    width: 95%;
    height: 500px; 
    object-fit: cover;
}
