.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    min-height: 100vh; 
    border: 2px solid red;
    background-image: linear-gradient(hsl(189, 90%, 16%), hsla(0, 0%, 0%, 0.993));
    box-sizing: border-box;
}