

.header{
    border: 2px solid ;
    height: 100%;
    /* width: 100vw; */
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-family: Arial, sans-serif;
    font-size: 3.5rem;
    background-image: linear-gradient(hsl(189, 90%, 16%), hsla(0, 0%, 0%, 0.993));
    color: hsl(0, 0%, 100%);
}